*.dll
*.exe
*.exe~
*.test
*.out
bin/
dist/
.idea/
.vscode/
terraform-provider-nominal
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
.env
